<form method="post" class="w-50 m-auto mt-5 border border-2 p-4">
  <h2 class="text-center">Login</h2>
  {{#if successMsg}}
    <div class="alert alert-success" role="alert">{{successMsg}}</div>
  {{/if}}
  {{#if errorMsg}}
    <div class="alert alert-danger" role="alert">{{errorMsg}}</div>
  {{/if}}
  <div class="mb-3">
    <label for="inputEmail" class="form-label">Email address</label>
    <input type="email" class="form-control" id="inputEmail" name="email" required>
  </div>
  <div class="mb-3">
    <label for="inputPassword" class="form-label">Password</label>
    <input type="password" class="form-control" id="inputPassword" name="password" required>
  </div>
  <button type="submit" class="btn btn-primary mt-2">Submit</button>
  <p class="mt-4">Don't have an account yet? <a href="/users/register">Register</a> now</p>
</form>