<form action="" method="post" class="mt-5">
  <div class="form-floating mb-4">
    <input type="text" class="form-control" id="inputTitle" placeholder="dummy" name="title" required>
    <label for="inputTitle" class="form-label">Title</label>
  </div>

  <div class="form-floating mb-4">
    <textarea class="form-control" id="inputBody" placeholder="dummy" style="height: 250px;" name="body"
      required></textarea>
    <label for="inputBody" class="form-label">Body</label>
  </div>

  <input type="submit" value="Submit" class="btn btn-primary">
</form>